<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <h1>Search</h1>
        <br>
        <form class="bs-component">
            <div class="form-group">
                <input class="form-control fs-1 text" id="focusedInput"
                    placeholder="Type a name of person / email / mobile no..."
                    type="text">
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Find now?</button>
            </div>
        </form>

    </div>

    <!-- Tables -->
    <div class="row tall-row">
        <div class="col-lg-12">
            <h1>Dummy Data</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Pid</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Stark</td>
                        <td>direwolf&#64;gmail.com</td>
                        <td>46768786787</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lannister</td>
                        <td>lion&#64;gmail.com</td>
                        <td>34345345</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Baratheon</td>
                        <td>Stag&#64;yahoo.com</td>
                        <td>3456</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Targaryen</td>
                        <td>Dragon&#64;gmail.com</td>
                        <td>123</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Martell</td>
                        <td>piercedbyaspear&#64;gmail.com</td>
                        <td>0989056744</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Tully</td>
                        <td>Trout&#64;gmail.com</td>
                        <td>6758694566</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Bolton</td>
                        <td>Redflayedman&#64;gmail.com</td>
                        <td>85969456</td>
                        <td><a routerLink="/view">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>