<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron text-center">
        <h1 class="typewriter">Search_</h1>
        <br>
        <form class="bs-component paddingLess">
            <div class="form-group">
                <input class="form-control bigText" autofocus
                    placeholder="Type a name of person / email / mobile no..."
                    type="text" id="personText" [formControl]="personText" />
            </div>
            <br>
            <div class="form-group">
                <button type="button" (click)="startScanning()"
                    class="btn btn-primary">Start scanning_</button>
            </div>
        </form>

    </div>

    <div *ngIf="peopleData.length > 0">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Pid_</th>
                            <th>Name_</th>
                            <th>Email_</th>
                            <th>Mobile_</th>
                            <th>Action_</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of peopleData">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.mobileNo}}</td>
                            <td>
                                <!-- <a routerLink="/view">View</a> -->
                                <button type="button"
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#myModal"
                                    (click)="fillData(item)">View_</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalHeader}}'s profile_</h4>
                </div>
                <div class="modal-body heightLimit">
                    <mahi-view-result
                        [personData]="personData"></mahi-view-result>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close_</button>
                        <button type="button" class="btn btn-primary">Print_</button>
                </div>
            </div>

        </div>
    </div>
</div>
